body {
    height: 100vh;
}

html {
    min-height: 100vh;
}

.ui-container {
    flex-direction: column;
    height: 100vh;
    flex: 1 1 auto;
}

.navbar {
    flex: 0 1 auto;
}

.flexy-container {
    flex: 1 1 auto;
    height: 90%
}

.flexy-list, .flexy-details {
    flex-direction: column;
    height: 100%;
}

.task-list-wrapper, .table-wrapper {
    overflow: scroll;
}

#new-task-hostnames {
    height: 40vh;
}

.flexy-table {
    line-height: 30px;
}

.table-wrapper {
    overflow: scroll;
    display: block;
}

#services-accordion {
    overflow-y: scroll;
}
