<!doctype HTML>
<html>

    <head>
        <!--static -->
        <meta charset="UTF-8" meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="public,max-age=1800,max-stale,stale-while-revalidate=86400,stale-if-error=259200" rem="max-age=30minutes"/>
        <script src="https://kit.fontawesome.com/ee79f78361.js"></script>
        <script src="{{ url_for('static',filename='js/hossbox.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/hossbox.css') }}" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/fa.all.min.css') }}" type="text/css" media="screen">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" type="text/css" media="screen">
        <meta name="author" content="Paige Venuto">
        <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
        <title>HOSSbox</title>

    </head>
    <body class="mdc-typography">
        <div class="ui-container d-flex align-items-stretch">

            <nav class="navbar navbar-light bg-light d-flex">
              <div class="container-fluid">
                <a class="navbar-brand" href=".">
                    <img src="static/images/hossbox.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    HOSSbox
                </a>
                <ul class="nav justify-content-end d-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="./creds">CREDS</a>
                    </li>
                </ul>
              </div>
            </nav>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.type }}" role="alert">
                        {{message.text}}
                    </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
