{% extends 'base.html' %}
{% block content %}


<div class="container-fluid flexy-container">
    <div class="row d-flex align-items-stretch h-100 flex-fill">
        <div class="flexy-list col-3 p-3 d-flex align-items-stretch left-pane">
            <h1>Contact Info</h1>
            <textarea class="form-control h-100" id="hostnames" name="hostnames" placeholder="List of hostnames"></textarea>
            <button class="btn btn-primary my-3" role="button" id="getcontactinfo">Get Contacts</button>
        </div>


        <div class="flexy-details col-9 p-3 right-pane">
            <div class="table-wrapper h-100">
                <table class="flexy-table table table-striped table-hover bg-light border p-3 h-100">
                    <thead>
                        <th scope="col">
                            Hostname
                        </th>
                        <th scope="col">
                            Support
                        </th>
                        <th scope="col">
                            Owner
                        </th>
                        <th scope="col">
                            Tech Exec/VP
                        </th>
                        <th scope="col">
                            Admin
                        </th>
                        <th scope="col">
                            Notification DL
                        </th>
                        <th scope="col">
                            DL-Contact
                        </th>
                    </thead>
                    <tbody id="contactinfo-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='js/contactinfo.js') }}"></script>

    {% endblock %}
