{% extends 'base.html' %}
{% block content %}
<div class="container h-100">
    <h2>Creds</h2>

    <form method="POST">
        <div class="row mb-3">
            <label for="pid-user" class="col-sm-2 col-form-label">PID</label>
            <div class="col-sm-10">
                <input name="pid_user" type="text" class="form-control" id="pid-user" value="{{ creds.pid_user }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="pid-pass" class="col-sm-2 col-form-label">PID Password</label>
            <div class="col-sm-10">
                <input name="pid_pass" type="password" class="form-control" id="pid-pass" value="{{ creds.pid_pass }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="adm-user" class="col-sm-2 col-form-label">ADM</label>
            <div class="col-sm-10">
                <input name="adm_user" type="text" class="form-control" id="adm-user" value="{{ creds.adm_user }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="adm-pass" class="col-sm-2 col-form-label">ADM Password</label>
            <div class="col-sm-10">
                <input name="adm_pass" type="password" class="form-control" id="adm-pass" value="{{ creds.adm_pass }}">
            </div>
        </div>
        <div class="justify-content-between d-flex">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}
