{% extends 'base.html' %}
{% block content %}


<div class="container-fluid flexy-container d-flex">
    <div class="row d-flex align-items-stretch h-100 flex-fill">
        <div class="flexy-list col-3 p-3 d-flex align-items-stretch">
            <div class="d-flex justify-content-between">
                <h2>DECOM Tasks</h2>
                <button id="new-task-btn" type="button" class="btn btn-primary pull-right" data-bs-toggle="modal" data-bs-target="#new-task-modal">New Task</button>
            </div>
            <div class="task-list-wrapper mt-3 mb-3 h-100 bg-light border">
                <ul class="list-group" id="task-list">
            </div>
            <div class="text-center d-flex justify-content-evenly">
                <button type="button" id="task-clear-btn" class="btn btn-outline-secondary">Clear Selected</button>
                <button type="button" id="task-details-copy" class="btn btn-outline-secondary">Copy Table</button>
            </div>
        </div>

        <div class="flexy-details col-9 p-3">
            <div class="table-wrapper h-100">
                <table class="flexy-table table table-striped table-hover bg-light border p-3 h-100">
                    <thead>
                        <th scope="col">
                            hostname
                        </th>
                        <th scope="col">
                            vendor
                        </th>
                        <th scope="col">
                            OOB
                        </th>
                        <th scope="col">
                            ESD
                        </th>
                        <th scope="col">
                            status
                        </th>
                        <th scope="col">
                            IP
                        </th>
                    </thead>
                    <tbody id="task-details-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<template id="task-item-template">
    <a class="task list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <input class="form-check-input me-3" type="checkbox" value="" aria-label="...">
            <div class="w-100">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 task-name"></h5>
                  <small class="task-time"></small>
                </div>
                <small class="task-status"></small>
            </div>
        </div>
    </a>
</template>

<div class="modal fade" id="new-task-modal" tabindex="-1" aria-labelledby="new-task-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New DECOM Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="new-task-form" action="/decom-tasks" method="POST">
                    <div class="mb-3">
                        <label for="new-task-name" class="form-label">Task Name</label>
                        <input type="text" class="form-control" id="new-task-name" name="new-task-name">
                    </div>
                    <div class="mb-3">
                        <label for="new-task-hostnames" class="form-label">Hostnames</label>
                        <textarea class="form-control" id="new-task-hostnames" name="new-task-hostnames"></textarea>
                    </div>
                    <div class="btn btn-primary" id="new-task-form-btn">Create</div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmation-modal" tabindex="-1" aria-labelledby="new-task-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="new-task-form" action="/decom-tasks" method="POST">
                    <h5>Are you sure you want to run this on <span id="num-of-svrs"></span> servers?</h5>
                    <p>Please type the number of servers entered to confirm.</p>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="num-of-svrs-confirm">
                        <label for="num-of-svrs-confirm" id="invalid-number" hidden>Invalid input</label>
                    </div>
                    <div id="new-task-submit" class="btn btn-primary">Create</div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='js/decom.js') }}"></script>

{% endblock %}
