{% extends 'base.html' %}
{% block content %}


<div class="container flexy-container">
    <div class="row d-flex align-items-stretch h-100 flex-fill">
        <div class="flexy-list col-6 p-3 d-flex align-items-stretch">
            <h1>Email List</h1>
            <textarea class="form-control h-100" id="hostnames" name="hostnames" placeholder="List of hostnames"></textarea>
            <button class="btn btn-primary my-3" role="button" id="getemails">Get Emails</button>
        </div>
       
        <div class="flexy-details col-6 p-3">
            <textarea class="form-control h-100" id="emails" placeholder="List of emails"></textarea>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='js/getemails.js') }}"></script>

{% endblock %}
