{% extends 'base.html' %}
{% block content %}
<div class="container h-100">
    <h2>All Tools</h2>
    <div class="d-flex flex-wrap border bg-light justify-content-evenly">
        <a class="btn btn-primary m-3 w-25 py-5" href="./decom" role="button">DECOM ASSISTANT (WIP)</a>
        <a class="btn btn-primary m-3 w-25 py-5" href="./getemails" role="button">EMAIL LIST</a>
        <a class="btn btn-primary m-3 w-25 py-5" href="./services" role="button">SERVICE CHECK (WIP)</a>
        <a class="btn btn-primary m-3 w-25 py-5" href="./contactinfo" role="button">CONTACT INFO</a>
    </div>
</div>
{% endblock %}
