{% extends 'base.html' %}
{% block content %}


<div class="container flexy-container">
    <div class="row d-flex align-items-stretch h-100 flex-fill">
        <div class="flexy-list col-6 p-3 d-flex align-items-stretch">
            <h1>Services Check</h1>
            <textarea class="form-control h-100" id="hostnames" name="hostnames" placeholder="List of hostnames"></textarea>
            <button class="btn btn-primary my-3" role="button" id="getservices">Check All</button>
        </div>

        <div class="flexy-details col-6 p-3">
            <div class="accordion border h-100 bg-light" id="services-accordion">
            </div>
        </div>
    </div>
</div>


<template id="accordion-item-template">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse">
                <h3 class="fas my-0"></h3>
                <span class="accordion-item-label mx-3"></span>
                <span class="badge bg-danger rounded-pill" hidden></span>
            </button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#services-accordion">
            <ul class="list-group"></ul>
        </div>
    </div>
</template>


<template id="service-item-template">
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <div class="mb-1 fw-bold port"></div>
            <small class="state"></small>
        </div>
        <small class="mb-1 version"></small>
    </li>
</template>

<script src="{{ url_for('static',filename='js/services.js') }}"></script>

{% endblock %}
